a {
  text-decoration: none;
  color: #000;
  letter-spacing: 0.5vw;
}

li {
  list-style: none;
}

.logo {
  font-size: 2em;
  font-weight: 900;
}

.navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigator a {
  margin: 2.5vw;
}
